@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
}

html {
    width: 100%;
    height: 100%;
}

body {
    background-color: #191919;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    height: 100%;
    padding: 50px 0;
}

.menu-container {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    z-index: 999;
}

.menu-title {
    font-size: 6rem;
    color: white
}

.menu-subtitle {
    font-size: 1.5rem;
    color: #ddd;
}

.btn-menu {
    width: 300px;
    padding: 12px 20px;
    border: none;
    border-radius: 15px;
    background: #5f5f5f;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.2s;
    text-decoration: none;
}

.btn-menu:hover {
    background: #8b8b8b;
}