@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
}

html {
    width: 100%;
    height: 100%;
}

body {
    background-color: #191919;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    height: 100%;
    padding: 50px 0;
}

.score-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.score-box h1 {
    font-size: 40px;
}

.score-box h2 {
    font-size: 120px;
    line-height: 90px;
}

.game {
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-right: 41px;
}

canvas {
    background-color: #252525;
    box-shadow: 0 0 15px rgb(0, 0, 0, 0.5);
}

.snake-color {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.snake-color button {
    border-radius: 999px;
    border: 5px solid #404040;
    padding: 15px;
    transition: all 0.3s ease;
}

.snake-color button:hover  {
    border: 5px solid #606060;
    transition: all 0.3s ease;
}

.snake-color button.active {
    border: 5px solid #707070;
    transition: all 0.3s ease;
}

#snake-default {
    background-color: #CCCCCC;
}

#snake-blue {
    background-color: #0088EC;
}

#snake-green {
    background-color: #45D831;
}

#snake-orange {
    background-color: #EA6417;
}

.btn-play {
    border: 0;
    padding: 5px 15px;
    border-radius: 999px;
    color: white;
    font-weight: 600;
    background-color: #252525;
    font-size: 17px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-play:hover {
    background-color: #303030;
    transition: all 0.3s ease;
}